SECRET_KEY=
DEBUG=false
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3

LOG_DIR=logs
BACKUP_DIR=.local
BACKUPS_TO_KEEP=3
APP_NAME=prices-db2
LOCAL_PORT=5433
DB_NAME=prices
DB_USER=
DB_PASSWORD=

PGUSER=
PGPASSWORD=
DBNAME=agile_predict
WIN_BACKUP_FILE=.local\backup.sql
UPDATE_TOKEN=
PYTHON_EXE=
