crispy-bootstrap5==2024.2
dj-database-url==2.1.0
Django==4.2.11
django-crispy-forms==2.1
djangorestframework==3.15.1
environs==11.0.0
gunicorn==22.0.0
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
plotly==5.21.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
catboost==1.2.7
lightgbm==4.6.0
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
shap==0.46.0
whitenoise==6.6.0
