<!-- templates/base.html-->
{% load static %}
<html>
    <head>
        <title>Agile Predict</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>Agile Predict v{{APP_VERSION_NUMBER}}</a></h1>
        </header>
        <div style="width: 100%; overflow: hidden;">
            <div style="width: 220px; float: left; margin-left: 20px;"> 

                Select your DNO region:<p>
                   <form action="." method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
            </div>
            
            <div style="margin-left: 240px;">
                {% block content %}
                {% endblock content %}
            </div>
       </div>
        <div style="margin-left: 20px";"margin-right: 20px";>
            This model forecasts Octopus Agile electricity prices up to 14 days in advance using a Machine Learning model trained
            on data from the Balancing Mechanism Reporting System (<a href="https://bmrs.elexon.co.uk/">BRMS</a>), National Grid 
            Electricity Supply Operator (<a href="https://www.nationalgrideso.com/data-portal">NG ESO</a>) and weather data from 
            <a href="https://open-meteo.com"> open-meteo.com</a>.<p>

        </div>
        <div style="margin-left: 20px";"margin-right: 20px";>
            Because the app is hosted on a <a href= "http://fly.io">fly.io</a> hobby account the database is only updated when the page
            is accessed and if there has been an hour since the last update. This may sometimes cause slight delays in loading. <p>
        </div>    
        <h2 style="margin-left: 20px";"margin-right: 20px">Work in Progress!</h2>    
        <div style="margin-left: 20px";"margin-right: 20px";>
            This model is very much work in progress. Use at your own risk. Overall trends are more likely to be accurate than the half-hourly slot details.
        </div>    

        <h2 style="margin-left: 20px";"margin-right: 20px">API Access</h2>    
        <div style="margin-left: 20px";"margin-right: 20px";>
            RESTful API access to the three most recent price forecasts is available via <a href="http://prices.fly.dev/api">prices.fly.dev/api</a> for all regions
            or via <a href="http://prices.fly.dev/api/{REGION}">prices.fly.dev/api/{REGION}</a> for a given region.
        </div>
        <h2 style="margin-left: 20px";"margin-right: 20px">Development</h2>    
        <div style="margin-left: 20px";"margin-right: 20px";>
            Contributions to the project are welcome through <a href="https://github.com/fboundy/agile_predict">GitHub</a>
        </div>
        </body>
</html>