<!-- templates/base.html-->
{% load static %}
<html>
    <head>
        <title>Agile Predict</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1><a href="{% url 'graph' %}">Agile Predict v{{APP_VERSION_NUMBER}}</a></h1>
        </header>
        <div style="width: 100%; overflow: hidden;">
            <div style="width: 200px; float: left;"> </div>
            <div style="margin-left: 220px;">
                {% block content %}
                {% endblock content %}
            </div>
       </div>
        <div style="margin-left: 20px";"margin-right: 20px";>
            This model forecasts Octopus Agile electricity prices up to 14 days in advance using a Machine Learning model trained
            on data from the Balancing Mechanism Reporting System (<a href="https://bmrs.elexon.co.uk/">BRMS</a>), National Grid 
            Electricity Supply Operator (<a href="https://www.nationalgrideso.com/data-portal">NG ESO</a>) and weather data from 
            <a href="https://open-meteo.com"> open-meteo.com</a>.<p>

        </div>
        <div style="margin-left: 20px";"margin-right: 20px";>
            Because the app is hosted on a <a href= "http://fly.io">fly.io</a> hobby account the database is only updated when the page
            is accessed and if there has been an hour since the last update. This may sometimes cause slight delays in loading. <p>
        </div>        
    </body>
</html>