{% extends "base.html" %} {% load crispy_forms_tags %} {% load tz %} {% block content %}

<div class="container-lg fluid">
    <div class="row bg-body text-center">
        <h3>{{region_name}} {%if region != "X" %} (DNO Region {{region}}) {%endif%}</h3>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="row">{% if graph %} {{ graph|safe }} {% endif %}</div>
        </div>
        <div class="col-lg-3 bg-body">
            <div class="row">
                <form method="post">{% csrf_token %} {% crispy form form.helper %}</form>
            </div>

            <div class="accordion" id="accordionExample">
                {% if history_errors or forecast_errors %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button
                            class="accordion-button collapsed bg-warning-subtle"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                        >
                            Warnings
                        </button>
                    </h2>
                    <div
                        id="collapseThree"
                        class="accordion-collapse collapse"
                        aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample"
                    >
                        <div class="accordion-body">
                            <div class="row">
                                <p>The following errors were encountered the last time the database was updated:</p>
                            </div>
                            {%if history_errors %}
                            <div class="row bg-primary text-white text-center">
                                <h5>History Data</h5>
                            </div>
                            {% for item in history_errors%}
                            <div class="row bg-light text-center">
                                <strong>Date/Time</strong>
                            </div>
                            <div class="row text-center">
                                <p>{{item.date_time}}</p>
                            </div>
                            <div class="row bg-light text-center">
                                <strong>Dataset</strong>
                            </div>
                            <div class="row text-center">
                                <p>{{item.dataset}}</p>
                            </div>
                            <div class="row bg-light text-center">
                                <strong>Source</strong>
                            </div>
                            <div class="row text-center">
                                <p>{{item.source}}</p>
                            </div>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
